.navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid gray;

  .navigation-container {
    height: 70px;
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

    .nav-logo {
      width: 200px;
      height: auto;
      padding: 10px;
    }

    .navlinks-container {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.nav-link {
  position: relative;
  font-size: 18px;
  margin: 0 1rem;
  font-weight: 500;
  color: #000; // Replace with your default link color
  &.sign-up-link,
  &.create-post-link {
    border: 1px solid #2a4cf6;
    border-radius: 5px;
    color: #2a4cf6;
    padding: 5px 10px;
    &:hover {
      background-color: #3b49df;
      color: white;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out,
      background-color 0.4s ease-in-out;
  }

  &:hover:not(.sign-up-link, .create-post-link)::after {
    width: 100%;
    left: 0;
    background-color: #2a4cf6;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out,
      background-color 0.4s ease-in-out;
  }

  &.active:not(.sign-up-link, .create-post-link) {
    color: #2a4cf6;
  }

  &.active:not(.sign-up-link, .create-post-link)::after {
    width: 100%;
    left: 0;
    background-color: #2a4cf6;
  }
}

.burger-menu {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media all and (max-width: 777px) {
  .burger-menu {
    display: block;
    z-index: 120;
  }
  .navlinks-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center !important;
    position: fixed; /* Updated to "fixed" */
    top: 0px; /* Adjust the top value based on your header height */
    left: 0; /* Updated to "left" */
    right: 0; /* Added "right" */
    bottom: 0; /* Added "bottom" */
    z-index: 100;
    padding: 0px;
    transform: translateX(100%); /* Updated the translate value */
  }

  .nav-link,
  .sign-up-link,
  .create-post-link {
    all: unset !important;
    color: white !important;
    width: 100% !important;
    padding: 20px !important;
    font-size: 25px !important;
  }
}
