.navigation {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  .navigation-container {
    width: 1300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

    .nav-logo {
      width: 200px;
      height: auto;
      padding: 10px;
    }

    p {
      font-size: 2rem;
      font-weight: 700;
    }
    .navlinks-container {
      display: flex;
      gap: 24px;
      a {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
