.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
}
.google-btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-btn:hover {
  background-color: #eee;
}

.google-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("https://developers.google.com/identity/images/g-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
