$border-gray: #bfbfbf;

@mixin new-button {
  background-color: lightgrey;
  color: rgb(46, 46, 46);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 95%;
  max-width: 800px;
  .search-create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .create-post {
    @include new-button;
    width: 150px;
    height: 40px;
    white-space: nowrap;
  }
}

.posts-container {
  width: 100%;
}
