$border-gray: #bfbfbf;

@mixin new-button {
  height: auto;
  background-color: #2a4cf6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.div-container {
  display: flex;
  justify-content: center;

  .blog-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      border-bottom: 1px solid gray;

      .create-post {
        @include new-button;

        width: 105px;
      }
    }
    .title {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $border-gray;
      height: 40px;
      display: block;
      width: 800px;
    }
    .img-header {
      width: 800px;
      height: 200px;
      object-fit: fill;
    }
    ul {
      padding-inline-start: 0;
      list-style: none;
    }
    .post {
      border: 1px solid $border-gray;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      background-color: white;
      .btn-view {
        align-self: flex-end;
        @include new-button;
        font-size: 1rem;
        &:hover {
          background-color: #5671f6;
        }
      }
    }
    .content {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $border-gray;
      height: 80px;
      width: 800px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
