.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .title {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 40px;
    display: block;
    width: 800px;
  }
  .content {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 80px;
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
